@font-face {
    font-family: EduTas Beginner;
    src: url(/font/EduTas/EduTASBeginner-Bold.ttf);
}

@font-face {
    font-family: Oswald;
    src: url(/font/Oswald/Oswald-Bold.ttf);
}

@font-face {
    font-family: Trick;
    src: url(/fontçTrick/Trick-Bold.ttf);
}



